.pattern{
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: 30%;
}

#logo{
width: 250px;
height: 120px;
}

.main-title{
    font-size: 50px;
    margin-bottom: 1px;
}

.autore{
    color: grey;
    margin-top: 1px;
    font-size: 15px;
}

.link{
    text-decoration: none;
}

.data{
    color: grey;
    font-size: 13px;
}
